<%= render partial: "backdrop" %>

<article class="container">
    <div class="row">
        <div class="col-xs-12 introduction">
            <p class="lead">Hello this is the homepage and it's going to be full of cool incentive to try the website.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Featuring <strong><%= @nbArtists %> artists</strong>, totaling an overall discography of <%= @nbAlbums %> albums and <%= @nbTracks %> tracks.</p>
        </div>
    </div>
</article>
