<%= render partial: "backdrop" %>

<article class="container">
    <div class="row">
        <div class="col-md-12 introduction">
            <p>Hello this is the homepage.</p>
        </div>
    </div>
</article>
