/vendor/*
/config/app.php
/tmp/*
logs
webroot/img/cache
.DS_Store
._.DS_Store
composer.phar
config/dev.php
plugins/
webroot/img/resized.jpg
webroot/img/original.jpg
config/.fuse_hidden0000232800000001
