<% content_for :header  do %>
<meta name="tmt:track:entity:updated_at" content="<%= @track.updated_at %>">
<% end %>

<%= render partial: "backdrop", locals: {entity: @track.albums.first} %>

<h1><%= link_to @track.title, controller: :tracks, action: :show, id: @track.slug %></h1>
<h2><%= link_to @track.artist.name, controller: :artists, action: :show, id: @track.artist.slug  %></h2>
