
<div class="reviewer-wrapper">
    <canvas class="visuals"></canvas>

    <div class="knob">
        <div class="track">
            <i></i>
        </div>
    </div>
</div>

<%= render partial: "player", locals: {track: @track} %>
