<div class="modal-body">
    <header class="container-fuild">
        <div class="row">
            <div class="col-sm-3">
                <% if !@album.nil? && @album.previous?(@track) %>
                    <%  prev_track = @album.previous(@track) %>
                    <%= link_to prev_track.title, {controller: :tracks, action: :view, slug: prev_track.slug, anchor: "review"}, class: "btn" %>
                <% end %>
            </div>
            <div class="col-sm-6">
                <%= @track.title %>
            </div>
            <div class="col-sm-3">
                <% if !@album.nil? && @album.next?(@track) %>
                    <%  next_track = @album.next(@track) %>
                    <%= link_to next_track.title, {controller: :tracks, action: :view, slug: next_track.slug, anchor: "review"}, class: "btn" %>
                <% end %>
            </div>
        </div>
    </header>

    <div class="reviewer-wrapper">
        <canvas class="visuals"></canvas>

        <div class="knob">
            <div class="track">
                <i></i>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "Cancel" %></button>
</div>
