.album-details {
    position: relative;
    background-size: cover;
    margin: 0 0 80px 0;
    width: 100%;
    text-shadow: -1px -1px 1px $light-text-color, 1px 1px 1px darken($light-text-color, 20%);

    > * {
        position: relative;
    }

    h3 {
        margin: 0 0 1.5em 0;
        a {
            font-size: 1.3em;
        }
    }

    .details {
        @include tabled;
        padding-bottom: 3.5em;

        > div {
            padding: 0.5em;
        }

        .cover {
            font-size: 1.3em;
        }

        .scores {
            width: 150px;
            font-size: 1.6em;
            text-align: center;

            .pct-score {
                & > em {
                    color: $dark-theme-color;
                }
                & > span {
                    color: lighten($dark-theme-color, 30%);
                }
            }
        }

        .charts {
            width: 100%;
            text-align: right;

            .ctrl-line-chart {
                margin-bottom: 2em;
            }
        }
    }

    // Shadow effect
    &:after {
        content: " ";
        display: block;
        position:relative;
        bottom: -35px;
        height: 35px;
        width: 100%;
        background: url(http://static.themusictank.com/assets/images/box-shadow.png) no-repeat top center;
        background-size: contain;
    }

    .mask {
        @include position-stretch;
        bottom: 1px; // allow this to be our border

        &.top {
            background: linear-gradient($content-background-color, transparent);
        }

        &.left {
            background: linear-gradient(90deg, $content-background-color, transparent);
            right: 90%;
        }

        &.right {
            background: linear-gradient(270deg, $content-background-color, transparent);
            left: 90%;
        }

        &.radial {
            background: radial-gradient(circle at bottom center, transparent, $content-background-color);
            bottom: 0;
        }
    }
}
