.cover-image-wrapper {
    background-size: cover;
    text-shadow: 1px 1px 1px $light-text-color, -1px -1px 1px $dark-text-color;
    overflow: hidden;
    padding: 5em;
    position: relative;

    .cover-image-content {
        position: relative;
    }

    i:not(.fa) {
        @include position-stretch;

        &:not(.mask) {
            background-size: cover;
        }

        &.wrapper-bottom-gradient {
            top: 60%;
            background: linear-gradient(180deg, transparent, $content-background-color);
        }

        &.radial {
            background: radial-gradient(circle at bottom center, transparentize($content-background-color, .4), transparent);
        }

        &.bottom-gradient {
            top: inherit;
        }

        &.left-gradient {
            display: none;
        }

        @media (min-width: 800px) {
            &.left-gradient {
                display: inline;
                right: 20%;
            }
        }
    }

    .mask {
        background: transparent url(http://static.themusictank.com/assets/images/triangles.png) top left repeat-y;
    }
}
