.cover-image-wrapper {
    background-size: cover;
    text-shadow: -1px -2px 2px $shadow-color;
    overflow: hidden;
    padding: 2em;
    position: relative;
    color: $light-text-color;

    .cover-image-content {
        position: relative;
    }

    i:not(.fa) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;

        &:not(.mask) {
            background-size: cover;
        }

        &.wrapper-bottom-gradient {
            top: inherit;
            height: 40%;
            background: linear-gradient(180deg, transparent, $dark-content-bg-color);
        }

        &.bottom-gradient {
            top: inherit;
        }

        &.left-gradient {
            display: none;
        }

        @media (min-width: 800px) {
            &.left-gradient {
                display: inline;
                right: 20%;
            }
        }
    }



    .mask {
        background: transparent url(http://static.themusictank.com/assets/images/triangles.png) top left repeat-y;
    }
}
