.pct-score {
    > * {
        display:block;
        text-transform: uppercase;
        font-style: normal;
        text-align: center;
        white-space: nowrap;
    }

    > em {
        font-size: 1.25em;
        color: $light-text-color;
        line-height: 1;
    }

    > span {
        color: darken($light-text-color, 15%);
        font-family: $title-font;
    }

    span {
        font-size: 0.6em;
    }

    &.positive {
        em {
            color: greenyellow;
        }
    }

    &.negative {
        em {
            color: red;
        }
    }
}
