.pct-badge {
    background: darken($dark-theme-color, 20%);
    border-radius: 50%;
    border: 1px solid $light-text-color;
    text-shadow: none;
    display: inline-block;
    padding-top: .8em;
    margin: 0 .8em 0 0;
    width: 4em;
    height: 4em;
    overflow: hidden;
}

