.vignette {
    position: relative;

    .picture {
        display:inline-block;
        box-shadow: 0 0 10px $shadow-color;
        overflow: hidden;
        margin-right: 1em;
        max-height: 200px;
        max-width: 200px;
        min-height: 200px;
        min-width: 200px;
        border: 1px solid $light-text-color;

        img {
            border:1px solid $dark-text-color;
            width: 100%;
        }
    }

    .name {
        line-height: 1;
    }
}

.artist-vignette {
    text-align: center;

    .picture {
        border-width: 1px;
        border-radius: 50%;
    }
}

.album-vignette {
    .badges {
        margin-bottom: -0.8em;
    }
}
