.vignette {
    position: relative;

    .picture {
        display:inline-block;
        box-shadow: 0 0 10px #222;
        overflow: hidden;
        margin-right: 1em;

        img {
            width: 100%;
        }
    }

    .name {
        line-height: 1;
    }
}

.artist-vignette {
    text-align: center;

    .picture {
        border-radius: 50%;
        border: 2px solid #fff;
    }
}

.album-vignette {
    .badges {
        margin-bottom: -0.8em;
    }
}
