// @todo move elsewhere :
body.tracks.review {

    height: 100%;
    width: 100%;
    overflow: hidden;

    header {
        display: none;
    }
}

*[data-attr="tmt-reviewer"] {

    position:absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eee;
    color: #fff;
    z-index: 2;

    .knob-track  {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 75px;
        width: 10%;
        height: 80%;
        max-height: 450px;
        background: #111;
        border: 1px solid #333;
        display:block;
        transform: translate(-50%, -50%);
        overflow:hidden;
        border-radius: 72px;

        b {
            transition: transform .1s;
            background: #666;
            border: 1px solid #333;
            box-shadow: 0 2px 7px #000;
            display:block;
            border-radius: 72px;
            width: 72px;
            height: 72px;
            position: absolute;
        }


        &.enabled b {
            background: #eee;
            cursor: pointer;
        }
    }

    i {
        position: absolute;
        top: 0;
        left: 50%;

        img {
            transition: top left .1s;
            position:absolute;
            top:0;
            left:0;
        }
    }

    *[data-attr="tmt-player"] {
        position:absolute;
        bottom: 0;
        left:0;
        right: 0;
        background:transparent;
        border:none;
    }
}

