form[data-ctrl="upvote-widget"] {

    background: #efefef;
    border: 1px solid #dedede;
    border-radius: 3px;
    display:none;
    text-align: center;
    margin:1px 0;
    width: 60px;
    vertical-align: middle;

    &.initialized {
        display: inline-block;
    }

    ul {
        display: inline-block;
        margin: auto;
        list-style-type: none;
        padding: 0;

        li {
            display: block;
            float:left;
            height: 30px;
        }
    }

    button {
        border: none;
        background: #efefef;
        cursor: pointer;
        color:#333;
        font-size: 14px;
        text-shadow: 0 1px #fff;
        height: 30px;
        width: 30px;

        &:hover {
            color:blue;

        }
    }

    &.liked {
        li:nth-child(2) {
            display:none;
        }
    }

    &.disliked {
        li:nth-child(1) {
            display:none;
        }
    }

}
