
$light-theme-color: #fefefe;
$dark-theme-color: #1e1e1e;

$light-text-color: $light-theme-color;
$dark-text-color: $dark-theme-color;
$shadow-color: transparentize($dark-theme-color, .2);

$content-background-color: #f8f8f6;
$dark-content-bg-color: $dark-theme-color;
$title-font: 'News Cycle', Arial, sans-serif;
$main-font: 'News Cycle', Arial, sans-serif;

$min-viewport-size: 501px;

html {
  box-sizing: border-box;
}

body, html, section.app {
    min-height: 100%;
    min-width: 100%;

    font-size: 12px;
    font-family: $main-font;

    @media (min-width: $min-viewport-size) {
        font-size: 16px;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html, li, ul, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    letter-spacing: .03em;
    line-height: 1.1;
    margin: 0;
    font-weight: 700;
    font-family: $title-font;
}

li {
    margin-left: 0.5em;
}

a {
    color:#222;
    text-decoration: none;

    &:hover {
        color:#333;
    }
}

.clear {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: $min-viewport-size - 1) {
    .mask.left, .mask.right {
        display: none;
    }
}

@mixin position-stretch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

@mixin tabled {
    > * {
        margin-top: 1em;
    }

    @media (min-width: $min-viewport-size) {
        display: table;

        > * {
            display: table-cell;
            margin-top: 0;
            vertical-align: top;
        }
    }
}


@import "layouts";
@import "header";
@import "widgets/vignette";
@import "widgets/cover-image";
@import "widgets/pct-badge";
@import "widgets/pct-score";
@import "widgets/album-details";
@import "artists/common";
@import "artists/index";
@import "artists/show";
