
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
@import "components/_upvote";
@import "components/_player";
@import "components/_reviewer";
@import "components/_typeahead";

@import "_header";
*/
html {
  box-sizing: border-box;
}

body, html, section.app {
    min-height: 100%;
    min-width: 100%;
}


*, *:before, *:after {
  box-sizing: inherit;
}

@import "_header";

body.tracks.review {
    overflow: hidden;

    header {
        display: none;
    }
}
