html {
  box-sizing: border-box;
}

body, html, section.app {
    min-height: 100%;
    min-width: 100%;
    font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
    font-family: 'Roboto', Arial, sans-serif;
}

body, html, li, ul, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

li {
    margin-left: 0.5em;
}

a {
    color:#fff;
    text-decoration: none;

    &:hover {
        color:#fff;
    }
}



@import "layouts";
@import "header";
@import "widgets";
