.artists {
    .cover-image-wrapper {
        color: #fff;
        min-height: 600px;

        .cover-image-content {
            padding-top: 50vh;
        }

        a {
            color:#fff;
        }

        h2 {
            color: #333;
            font-size: 0.9em;
            font-weight: bold;
            text-transform: uppercase;
            text-shadow: none;
        }

        h1 {
            font-size: 3.5em;
        }
    }
}


.artists.index {
    .discography {
        display: flex;
        margin-top: 20vh;

        .more, .vignette {
            margin: 0 auto 2em;
            width: 25%;
        }

        .vignette {
            .picture {
                max-width: 200px;
                img {
                    border:1px solid #666;
                    width: 100%;
                }
            }

            .name {
                display: block;
                font-size: 0.9em;
                margin: 1em 0;
            }
        }

        .more {
            font-size: 1.5em;
            .fa {
                margin-left: 1em;
            }
        }
    }

    .featured-artists {
        display: flex;

        .vignette {
            padding: 1em;
            width: 20%;
        }
    }
}

.artists.show {

    .cover-image-content {
        .title, .scores {
            float: left;
            width: 50%;
        }
        .pct-score {
            float: left;
            width: 50%;
            font-size: 40px;
        }
    }

    .discography {
        margin-top: 10vh;

        .vignettes {
            display: flex;

            margin-bottom: 2em;

            .picture {
                max-width: 300px;
            }


            h3 {
                margin-left: 1em;
                font-size: 1.5em;
            }
        }
    }
}
