header {
    background: transparentize($light-theme-color, .9);
    border-bottom: 1px solid transparentize($light-theme-color, .95);
    text-shadow: 0 0 5px $dark-text-color;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    padding: 1em;
    vertical-align: middle;
    z-index: 1;

    a {
        color:#fff;
        text-decoration: none;

        &:hover {
            color:#efefef;
        }
    }

    h1 {
        display: inline-block;
        font-size: 1.8em;
        margin: 0 2em 0 0;
    }

    form {
        display: inline-block;
        margin: 0 2em 0 2em;
    }

    nav {
        display: inline;
    }

    ul {
        margin: 0;
        padding: 0;
        display: inline-block;

        &.profile {
            float: right;
            margin: 0 2em 0 0;
        }

        li {
            display: inline-block;
        }
    }
}
