// Note that most widgets CSS should be in the vue components.


.cover-image-wrapper {
    position: relative;

    .content {
        padding-top: 60vh;
        position: relative;
        padding: 30vh 2em 2em 2em;
    }

    h1 {
        font-size: 5em;
        font-family: 'Roboto Condensed', Arial, sans-serif;
        line-height: 1.2;
        max-width: 45%;
        margin: 0;
        text-shadow: 0 0 10px #222;

        a:hover {
            color: #fff;
        }
    }
}
