// Note that most widgets CSS should be in the vue components.


.vignette {
    display: flex;
    align-items: center;

    .picture {
        border-radius: 50%;
        border: 2px solid #fff;
        display:inline-block;
        box-shadow: 0 0 10px #222;
        overflow: hidden;
        margin-right: 1em;

        img {
            width: 100%;
        }
    }

    .name {
        line-height: 1;
    }
}

