.artists {
    .cover-image-wrapper {
        min-height: 650px;

        .cover-image-content {
            margin-top: 33%;

            .title {
                .subtitle {
                    text-shadow: 0 0 1px transparentize($dark-text-color, .6);
                    color: $light-text-color;
                    text-transform: uppercase;
                    position: relative;
                }
            }
        }

        h1 {
            font-size: 3.5em;
        }
    }
}

