.artists.index {

    .cover-image-wrapper {
        padding-bottom: 0;
    }

    .discography {
        @include tabled;
        margin-top: 2em;

        .more, .vignette {
            width: 25%;

            @media (min-width: $min-viewport-size) {
                margin: 0 auto 2em;
            }
        }

        .vignette {
            .name {
                display: block;
                font-size: 0.9em;
                margin: 1em 0;
            }
        }

        .more {
            text-align: center;
            vertical-align: middle;
            font-size: 1.5em;

            .fa {
                margin-left: 1em;
            }
        }
    }

    .featured-artists {
        @include tabled;

        .vignette {
            padding: 1em;
            width: 20%;
        }
    }
}
