.artists.show {
    .cover-image-content {
        .titles, .scores {
            width: 50%;
        }

        .pct-score {
            margin-top: .8em;
            width: 50%;
            font-size: 40px;
        }
    }

    .discography {
        h2 {
            margin-bottom: 1.5em;
        }
    }
}
