.artists.show {

    .cover-image-content {
        .title, .scores {
            float: left;
            width: 50%;
        }

        .pct-score {
            float: left;
            width: 50%;
            font-size: 40px;
        }
    }

    .discography {
        background: $content-background-color;
        width: 100%;
        padding:30px 0 1em;
    }

}
