
.modal-dialog {
    width:auto;
    min-width: 600px;
}

.reviewer-wrapper {
    text-align: center;
    width:95%;
    height:500px;

    canvas {
        margin:1em;
        display:block;
    }
}
