.streamer {

    background:#eee;
    border:1px solid #dedede;
    border-top:1px solid #fff;
    position: relative;
    height:70px;
    font-size: 11px;
    color:#333;

    iframe {
        width:1px;
        height:1px;
        position:absolute;
        left:-100px;
    }

    .play {
        position:absolute;
        left:1%;
        top:10px;
        background:#000;
        color:#fff;
        width:40px;
        height:40px;
        z-index: 1;
        font-size:24px;
        text-align:center;
        border-radius: 20px;
        border:1px solid #eee;
        box-shadow:0 1px 5px rgba(0,0,0,.6);
        padding: 12px 0 0 3px;
    }

    .fa-pause {
        padding-left:0;
    }

    .times {
        position:absolute;
        right:10px;
        top:25px;
        width:60px;
        text-align: right;
    }

    .progress {
        height:5px;
    }

    .progress-wrap {
        position:absolute;
        top:30px;
        left:70px;
        right:70px;
        cursor:pointer;
    }

    .loaded-bar {
        background:orange;
        left:0;
        position:absolute;
        height:5px;
    }

    .playing-bar {
        left:0;
        position:absolute;
        height:5px;
        background:cyan;
    }

    .cursor {
        background:#fff;
        box-shadow: 0 1px 3px #000;
        border-radius: 20px;
        width:20px;
        height:20px;
        position: absolute;
        top:2px;
        margin:-10px 0 0 -10px;
    }

}
