body {
	.noPad;
	background:		#fff url(/img/triangles-2.png) top left repeat;
	color:			@themeColorDark;
}

// The top header containing the branding
.navbar {
	background:		rgba(48, 62, 70, .95);//@themeColorDark;
	border-bottom:	1px solid @themeColorDark;
	border-top:		3px solid @themeColorHighlight;
	box-shadow: 	0 1px 5px rgba(0,0,0,.5);
    color:			#fff;
    height: 		@navbarHeight;
    line-height: 	@navbarHeight;
    z-index: 		3;

    .navbar-brand {
		background:		transparent url(/img/tmt.png) 50% 50% no-repeat;
		text-indent:    -999px;
		overflow: 		hidden;
		display:		inline-block;
		width:			84px;
    }

    li > a {
    	color: #fff;
    	font-size:1.1em;
    	padding-bottom: 12px;
	}

    li > a:hover {
    	color: #fff;
		background-color: rgba(255,255,255,.15);
    }

	.dropdown-menu li > a {
		color:@themeColorDark;
	}
	.dropdown-menu li > a:hover {
		color:lighten(@themeColorDark, 10%);
	}


    .picture {
    	.noPad;
    	a {
    		.noPad;
    		padding-top : @navbarHeight / 10; // center the image
    	}
    	img {
	        height:	@navbarHeight;
	        width: 	@navbarHeight;
	    }
    }

    // The search top container bar
	.searchbar {
		line-height:30px;
		padding-top: 3px;

	    input[type="submit"] {
	    	visibility:	hidden;
		}

	    input[type="text"] {
	        width: 		350px;
	        -webkit-border-radius: 3px;
	         -moz-border-radius: 3px;
	              border-radius: 3px;
	   	}
	}
}


// Location menu
.sub-menu {
	background:		darken(@themeColorMedium, 5%);
	border-bottom:	3px solid @themeColorHighlight;
	border-top:		1px solid lighten(@themeColorMedium, 15%);

	// Breadcrumbs; overrides those set by bootstrap
	.breadcrumb {
		background:		none;
		border-radius: 	0;
		margin-bottom:	0;

		a {
			color:@themeColorLight;
			&:hover {
				color:#fff;
			}
		}
	}
	.breadcrumb>li+li:before {
		color:@themeColorNeutral;
	}
}


// Big themed header
.header-wrapper {
	background:@themeColorNeutral  url(/img/triangles.png) top left repeat;
	position: 	relative;
	overflow: 	hidden;
	padding-top:50px;

	.cover-image {
		.opacity(.4);
		.stretchFill;

		background-size: 		cover;
		background-position-y:	0;
        background-repeat: 		no-repeat;
	}

	.jumbotron {
		background-color: 		transparent;
		color:					lighten(@themeColorNeutral, 80%);
		padding-bottom: 		0;
		padding-top: 			30px;
		h1 {
			margin-top:0;
		}
	}

	// accompaning image
	.mugshot {
		img {
			max-height: 40%;
			max-width: 	100%;
			width:		100%;
		}
	}

	.description section {
		overflow: auto;
		height: 195px;
	}
}

// User links
nav.dashboard {
	background:#fff;
	padding-top:10px;

	li:first-child {
		margin-left:25px;
	}
}


// footer
.site-foot  {
	background:			darken(#efefef, 5%);
	border-top:			1px solid #dedede;
	border-bottom:		3px solid @themeColorHighlight;
	margin-top:			20px;
	line-height:		40px;
	clear:				both;

	.copyright {
		padding:10px 15px;
		color:#999;
	}
	.social {
		float:left;
		clear:left;
	}
	.website {
		float:right;
		clear:right;
	}
}

