// Mixins
.noPad {
	padding:0;
	margin:0;
}

.stretchFill {
	bottom:0;
	left:0;
	right:0;
	top:0;
	position:absolute;
}


// Variables
@navbarHeight 	: 	40px;
@searchbarHeight: 	50px;
@lightBoxShadow : 	0 1px 3px 0 rgba(0,0,0,.3);
@themeColorDark : 	#1a5243;
@themeColorMedium : #19a68d;



// -----------------
// Repeating objects
// -----------------



body {
	.noPad;
	background:		#fff;
	color:			#111;
    padding-top: 	@navbarHeight + @searchbarHeight;
}

// The top header containing the branding
.navbar {
    background:		#333;
    box-shadow: 	@lightBoxShadow;
    color:			#fff;
    height: 		@navbarHeight;
    line-height: 	@navbarHeight;
    z-index: 		3;

    .picture {
    	.noPad;
    	a {
    		.noPad;
    		padding-top : @navbarHeight / 10; // center the image
    	}
    	img {
	        height:	@navbarHeight;
	        width: 	@navbarHeight;
	    }
    }
}

// The search top container bar
.search {
    .size(100%, @searchbarHeight);

    background:		#666;
    box-shadow: 	@lightBoxShadow;
    color:			#fff;
    padding:		14px 5% 0;
    position:		fixed;
    top:			@navbarHeight;
    z-index: 		2;

    input[type="submit"] {
    	visibility:	hidden;
	}

    input[type="text"] {
        -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
   	}

    input {
        width: 		350px;
    }
}

// Location menu
.sub-menu {
	background:		@themeColorDark;
	border-bottom:	1px solid #7cbaaa;

	// Breadcrumbs; overrides those set by bootstrap
	.breadcrumb {
		background:		none;
		border-radius: 	0;
		margin-bottom:	0;
	}
}


// Big themed header
.header-wrapper {
	background: @themeColorMedium;
	position: relative;
	overflow: hidden;

	.cover-image {
		.opacity(.1);
		.stretchFill;

		background-size: 		cover;
		background-position-y:	0;
        background-repeat: 		no-repeat;
	}

	.jumbotron {
		background-color: 		transparent;
		color:					#fff;
		h1 {
			margin-top:0;
		}
	}
}
