h2 {
	color:darken(@themeColorHighlight, 15%); //#19a68d;
}
h3, h4 {
	color:@themeColorHighlight;
}

a {
	color:@themeColorHighlight;
}


.card {
	background:#fff;
	border:1px solid #eee;
	border-radius: 3px;
	box-shadow: @lightBoxShadow;
	padding:1.2em;
}


article {

	position: relative;

	header {
		margin-top: -650px;

		h1 {
			text-shadow: 3px 3px rgba(0,0,0,0.4);
			font-size:50px;
			margin:0;
			width:70%;
			a {
				color:#fff;
			}
		}

		h2 {
			text-shadow: 3px 3px rgba(0,0,0,0.4);
			font-size:35px;
			margin:0;
			width:70%;
			text-transform: uppercase;
			a {
				color:#eee;
			}
		}

		time {
			display: block;
			color:#666;
			font-size: 13px;
			margin:0 0 0 5px;
		}

		.thumbnail {
			box-shadow: @lightBoxShadow;
		}

		.stats {
			background: #fff;
			border-top:1px solid #dedede;
			padding: 15px;
			margin-top:70px;
			margin-bottom:1em;
			min-height:200px;

			div {
				em {
					color:#222;
					font-style: normal;
					font-weight: bold;
					font-size: 40px;
					display:block;
				}
				.worst-track, .best-track {
					font-size: 34px;
				}

				span {
					text-transform: uppercase;
					color:#666;
					font-size: 11px;
				}
			}

		}

		.score {
			float:right;
			margin-top:-350px;
			margin-right:20px;
			position:relative;
		}

		.notable {
			float:left;
			margin-top:-440px;
			margin-left:220px;
			position:relative;
		}

		.piechart {
			float:right;
			margin-top:-350px;
			margin-right:100px;
			z-index: 1;
		}
	}

	.content {
		padding: 20px;

	/*

		padding: 20px;
		margin-top:200px;
			margin-top: -400px;
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFE7E7E2',endColorstr='#00FFFFFF');
		background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#e7e7e2),color-stop(75%,#fff));
		background-image: -webkit-linear-gradient(top,#e7e7e2 0,rgba(255,255,255,0) 75%);
		background-image: -moz-linear-gradient(top,#e7e7e2 0,rgba(255,255,255,0) 75%);
		background-image: -o-linear-gradient(top,#e7e7e2 0,rgba(255,255,255,0) 75%);
		background-image: linear-gradient(top,#e7e7e2 0,rgba(255,255,255,0) 75%);*/
	}
}

.report-bug {
	text-shadow:none;
	float:right;
	color:@themeColorHighlight;
	cursor: pointer;

	&:hover {
		color:lighten(@themeColorHighlight, 10%);
	}
}


.browse-by-letter {
	div {
		a {
			display:block;
			line-height:50px;
			text-align:center;

			&:hover {
				background:#428bca;
				color:#fff;
				border-radius: 3px;
			}
		}
	}
	padding-bottom: 1em;
}
@lightBoxShadow: 0 1px 3px rgba(0, 0, 0, 0.35);
@darkBoxShadow: 0 1px 3px rgba(0, 0, 0, 0.7);

.tiled-list {

	.thumbnail {
		border-radius: 3px;
		box-shadow: @lightBoxShadow;
		overflow: hidden;
		position: relative;
		height:225px;
		background-image: url(/img/placeholder.png);
		background-position: 50% 50%;
		background-repeat:no-repeat;
		background-size:cover;
		display:block;
		text-decoration: none;
		border: none;
		span {
			display: block;
			background-color:rgba(255, 255, 255, 0.8);
			position:absolute;
			bottom:0;
			border-top:1px solid #dedede;
			font-size:0.85em;
			padding:0.5em;
			left:0;
			width:100%;
		}

		&:hover {
			box-shadow: @darkBoxShadow;
		}
	}
	.recent-albums {
		padding:1em 0 2em 0;
		li {
			list-style-type: none;
			clear:left;
			margin:0 0 1em 0;
			height:40px;
			img {
				width:40px;
				height:40px;
				float:left;
				margin-right:1em;
				box-shadow:0 1px 3px rgba(0,0,0,0.35);
			}
		}
	}
}


time {
    color:#666;
}

/*
.discography,
.new-album-releases {
	h2 {

		a {
			font-weight: normal;
			font-size:60%;
			text-transform: uppercase;
			color:#fff;
		}
	}
	h3 {
		margin-top:10px;
		font-size:18px;
	}
}*/

.track-details {
	ol li {
		margin-bottom: 1em;
	}
}


.credits {
	margin:2em 0 -2em;
	background:#eee;
	border-top:1px solid #dedede;
	padding:1em 0;
	color:#999;
	font-size:90%;
}

#disqus_thread {
	margin:2em 0;
}



.map {
	height:400px;
	margin:0 0 2em 	0;

	article {
		background:#000;
		color:#fff;
		margin:7% 10%;
		padding-top:60px;
		width:200px;
		height:200px;
		z-index: 1;
		font-size:2em;
		text-align:center;
		border-radius: 120px;
		border:1px solid #eee;
		position:absolute;
		box-shadow:0 1px 4px rgba(0,0,0,.5);
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg);
		-webkit-transform:rotate(-7deg);
	}

	#mapCanvas {
		width: 100%;
		height: 400px;
		background-color: #CCC;
		border-radius: 3px;
		border:1px solid #dedede;
		z-index: 0;
	}
}

.about {
	.team {
		.col-md-2 {
			text-align:center;
		}
		img {
			height:100px;
			width:100px;
		}
	}
	h4 {
		font-size: 1.7em;
	}
	blockquote {
		font-size:1em;
		border:none;
		margin-top:1em;
	}
}

.popoverbox .popover {
	position: relative;
	display: block;
	margin: 10px 20px;
	z-index: 1;
}

.activity-stream {
	margin:auto;
	background:#fff url(/img/bg-timeline.png) top center repeat-y;

	.event {
		clear:both;
		width:50%;
		margin:auto;

		img {
			max-width:100%;
		}
	}

	.time-header {
		float:left;
		clear:both;
		text-align: center;
		font-size:1.2em;
		width: 100%;

		time {
			color:#fff;
			background:#000;
			box-shadow:0 0 1px #000;
			padding:1em;
		}
	}

	.popover.right,
	.event.left {
		float:left;
	}
	.popover.left,
	.event.right {
		float:right;
	}
}

/*
.notifications .new, .jumbotron {
	background:@themeColorNeutral  url(/img/triangles.png) top left repeat;
	border-radius: 0;
	border-bottom:1px solid darken(@themeColorNeutral, 50%);
	color:#fff;
	margin-bottom:0;
}*/

.user-badge {
	text-align: center;
}
.big-user-badge {
	.btn {
		width:200px;
	}
}

.dashboard {
	aside {
		.media-body {
			min-width: 120px;
		}
		img {
			max-width: 100%;
		}
	}
}

.introduction {
	text-shadow:-1px -1px 0 @themeColorDark;
}

.score {
	background:#000;
	color:#fff;
	width:100px;
	height:100px;
	z-index: 1;
	padding-top:30px;
	font-size:24px;
	text-align:center;
	border-radius: 60px;
	border:3px solid #eee;
	float:right;
	box-shadow:0 1px 5px rgba(0,0,0,.6);

	span {
		text-transform: uppercase;
		font-size:10px;
		display: block;
		text-align: center;
		margin-top: 8px;
		color:#eee;
	}
}


.notable {
	background:@themeColorMedium;
	color: lighten(@themeColorMedium, 10%);
	color:#fff;
	width:80px;
	height:80px;
	z-index: 1;
	padding-top:20px;
	text-align:center;
	border-radius: 60px;
	border:3px solid lighten(@themeColorMedium, 10%);
	box-shadow:0 1px 15px rgba(233,197,111,.8);

	font-size:13px;
	display: block;
	text-align: center;
}


.tiles {
	.album, .track {
		margin-bottom:35px;

		.thumbnail {
			margin-bottom:0;
			img {
				width:100%;
			}
		}

		h3, time, p {
			margin:0 3%;
		}
		h3 {
			a {
				font-size:75%;
			}
		}
		time {
			display: block;
		}
	}
}

.royalSlider {
	height:300px;
}

.loading-wrap {
	i {
		display:block;
		margin:100px auto;
		width:100px;
		font-size:5em;
	}
}

.new-album-releases {
	margin-top:2em;
}
