h2 {
	color:#19a68d;
	text-shadow:0 1px 1px rgba(0,0,0,.2);
}
h3, h4 {
	color:#57ba93;
}

.browse-by-letter {
	div {
		a {
			display:block;
			line-height:50px;
			text-align:center;

			&:hover {
				background:#428bca;
				color:#fff;
				border-radius: 3px;
			}
		}
	}
	padding-bottom: 1em;
}
@lightBoxShadow: 0 1px 3px rgba(0, 0, 0, 0.35);
@darkBoxShadow: 0 1px 3px rgba(0, 0, 0, 0.7);

.tiled-list {

	.thumbnail {
		border-radius: 3px;
		box-shadow: @lightBoxShadow;
		overflow: hidden;
		position: relative;
		height:225px;
		background-image: url(/img/placeholder.png);
		background-position: 50% 50%;
		background-repeat:no-repeat;
		background-size:cover;
		display:block;
		text-decoration: none;
		border: none;
		span {
			display: block;
			background-color:rgba(255, 255, 255, 0.8);
			position:absolute;
			bottom:0;
			border-top:1px solid #dedede;
			font-size:0.85em;
			padding:0.5em;
			left:0;
			width:100%;
		}

		&:hover {
			box-shadow: @darkBoxShadow;
		}
	}
	.recent-albums {
		margin-top:1em;
		padding:0;
		li {
			list-style-type: none;
			clear:left;
			margin:0;
			img {
				width:40px;
				height:40px;
				min-height: 40px;
				min-width: 40px;
				float:left;
				margin-right:1em;
			}
		}
	}
}


time {
    color:#666;
}

.discography,
.new-album-releases {
	h2 {

		a {
			font-weight: normal;
			font-size:60%;
			text-transform: uppercase;
			color:#fff;
		}
	}
	h3 {
		margin-top:10px;
		font-size:18px;
	}
}

.track-details {
	ol li {
		margin-bottom: 1em;
	}
}


.credits {
	margin:2em 0 -2em;
	background:#eee;
	border-top:1px solid #dedede;
	padding:1em 0;
	color:#999;
	font-size:90%;
}

#disqus_thread {
	margin:2em 0;
}


.site-foot  {
	background:#efefef;
	border-top:1px solid #dedede;
	margin-top:20px;
	height:80px;
	clear:both;

	.social {
		float:left;
		clear:left;
	}
	.website {
		float:right;
		clear:right;
	}
}


.map {
	height:400px;
	margin:0 0 2em 	0;

	article {
		background:#000;
		color:#fff;
		margin:7% 10%;
		padding-top:60px;
		width:200px;
		height:200px;
		z-index: 1;
		font-size:2em;
		text-align:center;
		border-radius: 120px;
		border:1px solid #eee;
		position:absolute;
		box-shadow:0 1px 4px rgba(0,0,0,.5);
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg);
		-webkit-transform:rotate(-7deg);
	}

	#mapCanvas {
		width: 100%;
		height: 400px;
		background-color: #CCC;
		border-radius: 3px;
		border:1px solid #dedede;
		z-index: 0;
	}
}

.about {
	.team {
		.col-md-2 {
			text-align:center;
		}
		img {
			height:100px;
			width:100px;
		}
	}
	h4 {
		font-size: 1.7em;
	}
	blockquote {
		font-size:1em;
		border:none;
		margin-top:1em;
	}
}

.popoverbox .popover {
	position: relative;
	display: block;
	margin: 10px 20px;
	z-index: 1;
}

.activity-stream {
	margin:auto;
	background:#fff url(/img/bg-timeline.png) top center repeat-y;

	.event {
		clear:both;
		width:50%;
		margin:auto;
	}

	.time-header {
		float:left;
		clear:both;
		text-align: center;
		font-size:1.2em;
		width: 100%;

		time {
			color:#fff;
			background:#000;
			box-shadow:0 0 1px #000;
			padding:1em;
		}
	}

	.popover.right,
	.event.left {
		float:left;
	}
	.popover.left,
	.event.right {
		float:right;
	}
}

.notifications .new,
.colored {
	background:#19a68d url(/img/pattern-1.png) top left repeat;
	border-radius: 0;
	border-bottom:1px solid #56877D;
	color:#fff;
	margin-bottom:0;
}

.user-badge {
	text-align: center;
}
.big-user-badge {
	.btn {
		width:200px;
	}
}

.dashboard {
	aside {
		.media-body {
			min-width: 120px;
		}
		img {
			max-width: 100%;
		}
	}
}

.introduction {
	text-shadow:0 1px 2px rgba(0,0,0,.4);
}

.review-line {
	padding:2em 0;
	p {
		font-size:1.5em;
	}
	p:first-child {
		font-size:2em;
	}
	.piechart {
		width:200px;
		margin:2em;
		float:left;
		display:block;
	}
}
.review-line.even {
	.piechart {
		float:right;
	}
	background:#D1EDE8;// url(/img/pattern-1.png) top left repeat;
}
.review-line.odd {
	background:#fff;// url(/img/pattern-1.png) top left repeat;
}

.score {
	background:rgba(0,0,0,.6);
	color:#fff;
	width:120px;
	height:120px;
	z-index: 1;
	padding-top:30px;
	font-size:3em;
	text-align:center;
	border-radius: 60px;
	border:1px solid #eee;
	float:right;
	box-shadow:0 1px 4px rgba(0,0,0,.6);
	transform:rotate(5deg);
	-ms-transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
}


