<% unless entity.nil? %>
    <div class="header-wrapper">
        <div class="blurred"></div>
        <div class="clean"></div>
        <i class="mask"></i>
    </div>
<% content_for :header  do %>
<style type="text/css">
    @media (min-width: 501px) {
        .blurred { background-image: url(<%= entity.getImageUrl("blur"); %>) }
        .clean { background-image: url(<%= entity.getImageUrl("big"); %>) }
    }
    @media (max-width: 500px) {
        .blurred { background-image: url(<%= entity.getImageUrl("mobile_blur"); %>) }
        .clean { background-image: url(<%= entity.getImageUrl("mobile_big"); %>) }
    }
</style>
<% end %>

<% else %>
    <div class="header-wrapper plain">
        <i class="mask"></i>
    </div>
<% end %>
