<%
unless !defined?(entity) or entity.nil? %>
    <div class="header-wrapper">
        <div class="blurred"></div>
        <div class="clean"></div>
        <i class="mask"></i>
    </div>
    <% if entity.thumbnail? %>
        <% content_for :header  do %>
<style type="text/css">
    @media (min-width: 501px) {
        .blurred { background-image: url(<%= entity.get_thumbnail_url "blur" %>); }
        .clean { background-image: url(<%= entity.get_thumbnail_url "big" %>); }
    }
    @media (max-width: 500px) {
        .blurred { background-image: url(<%= entity.get_thumbnail_url "mobile_blur" %>); }
        .clean { background-image: url(<%= entity.get_thumbnail_url "mobile_big" %>); }
    }
</style>
        <% end %>
    <% end %>

<% else %>
    <div class="header-wrapper plain">
        <i class="mask"></i>
    </div>
<% end %>
